@import 'colors';
body{
  margin: 0;
  .header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: $header-background;
    .expand-button{
      cursor: pointer;
      display: inline-block;
    }
    .expanded{
      width: 0;
      overflow: hidden;
      transition: height ease-out 0.4s;
      display: inline-block;
      &.visible{
        transition: height ease-in 0.4s;
        height: 500px;
      }
    }
    input{
      color: #aaa;
      &:focus{
        color: black;
      }
    }
    button{
      //background: white;
      border: 0;
      padding: 0;
      margin: 0;
      padding-top: 1px;
      padding-bottom: 2px;
    }
  }
  .artist-list{
    overflow: scroll;
    list-style: none;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 200px;
    //color: ;
    background: $artist-list-background;
    margin: 0;
    padding: 0;
    li{
      cursor: pointer;
    }
  }
  .main-area{
    overflow: scroll;
    background: $main-area-background;
    position: absolute;
    top:40px;
    left: 200px;
    right: 0;
    bottom: 0;
    .add-to-playlist{
      cursor: pointer;
      margin-left: 5px;
      font-weight: 200;
      color: #333;
      text-transform: uppercase;
      font-size: 10px;
    }
    .album-list, .song-list{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        cursor: pointer;
      }
    }
    .player-area{
      position: absolute;
      width: 400px;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .playlist{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        cursor: pointer;
        &.active{
          font-weight: 800;
        }
      }
    }
  }
}
